/* @import "@material-tailwind/react/tailwind.css"; */
/* @import 'node_modules/@material-tailwind/react/tailwind.css'; */
    /* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your global CSS file */
.hexagon-button {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: all 0.3s ease;
}

.hexagon-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.5);
}


.question {
  margin: 20px auto;
  width: 60%;
  border: 4px solid #ddd;
  padding: 15px 25px;
  border-radius: 15px;
}

.question h2 {
  margin-bottom: 10px;
}

.options {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.options > li > button {
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* border: 1px solid grey; */
}

button:hover {
  background-color: green;
  color: white;
}

.results {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results span {
  color: red;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.results li {
  margin-bottom: 10px;
}

.results li[data-correct="true"] {
  color: green;
}

.results li[data-correct="false"] {
  color: red;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #444a64;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  .blog-image {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
